@{
    ViewData["Title"] = "Home Page";
}

<div class="row ">
    <div class="col"><a asp-action="index" asp-controller="teachers" class="btn btn-primary">Teachers</a></div>
    <div class="col"><a asp-action="index" asp-controller="students" class="btn btn-primary">Students</a></div>
    <div class="col"><a asp-action="index" asp-controller="subjects" class="btn btn-primary">Subjects</a></div>
</div>
